   
.x{
     height:50px;
      width:140px ;
    background-color: rgb(255, 255, 255);
    color:#ff6600 ;
     
}
.x:hover{
    background-color: #ff6600 ;
    color: white;
}
.xx{
    display: none;
    font-size: 130%;
    color:rgb(194, 185, 185);
}
.xx1{
    font-size: 130%;
    color:rgb(194, 185, 185);
}
.CC{
    background-color: rgb(255, 255, 250);
    width:10px;
    border: solid #ff6600;
    border-radius: 50%;
    
}
.CC:hover{
    background-color: #ff6600;
    width: 10px;
    border-radius: 50%;
     
   
}
.xxx{ margin-top: 150%;
    margin: right 100%; ;
  
    
}
 .cx
{
       display: none;
} 
.cccccccc {
        width:  470px;
 }
.boum{
    height:80px;
    width:170px ;
  background-color: rgb(255, 255, 255);
  color:#ff6600 ;
   margin-top: 10%;
   
}
.boum:hover{
    height:80px;
    width:170px ;
  background-color: rgb(255, 255, 255);
 border: solid #c9c6c4;
   margin-top: 10%;
   
}
.boum1{
    height:80px;
    width:170px ;
  background-color: #ff6600;
  
  border: #ff6803;
   margin-top: 10%;
   
}
 
.A{
    background-color: #8ed168;
    border-radius:10%;
    height: 90px;
   
}
.DIV{
    width: 70%;
}
.A{
    background-color: #8ed168;
    border-radius:10%;
    height: 90px;
   
}
.A1{
    background-color: #941AFF;
    border-radius:10%;
    height: 90px;
   
}
.A2{
    background-color: #195f82;
    border-radius:10%;
    height: 90px;
    
   
}
.A3{
    background-color:#DB247F;
    border-radius:10%;
    height: 90px;
    
   
}

.A4{
    background-color:#FF8800;
    border-radius:10%;
    height: 90px;
   
   
}


.A5{
    background-color: #1CD165;
    border-radius:10%;
    height: 90px;
   
   
}
.A6{
    background-color:#009CEB;
    border-radius:10%;
    height: 90px;
  
   
   
}

.A7{
    background-color:#CE0606;
    border-radius:10%;
    height: 90px;
   
  
   
   
   
}
.m{
    border-radius:10% ;

}
.mx{
    border-radius:10% ;
    object-fit: cover;

}
  
.c{
    position:  absolute;
    width: 55px;
    
    
}
.im{
    width: 20%;
}
.modal.modal-wide .modal-dialog {
    width: 90%;
  }
  .modal-wide .modal-body {
    width: 1000px;
  }
  
  /* irrelevant styling */
   
  #tallModal .modal-body p { margin-bottom: 900px }
   .x :hover{
       color: rgb(255, 255, 255);
   }
 .imgee{
     padding-left:17%;
      
 }
 .nn:hover{
    background-color: #000507;
 }
 .imgeeee{

     width: 100%;
     border-radius: 10%;
 }

 
 
 
.ff{
    font-size: small;
    text-align: center;
}


 
.ffe{
    
    text-align: center;
}

   #section h1{
       font-weight: bold;
       
       color: black;
       size: 20px;
       width: 30px;
       
   }   
     
.y{
       color: darkgray; }
.orrr{
       padding-left: 23%;
}
.goo {
     border:#817f7f  solid;
     width: 215px;
   }
.eh{
       width: 1080px;
 }
.ehh{
     width: 50%;
     margin-left: 18%;
 }
 .bbbbbbbbbb{
     width: 1080px;
 }
 .as{
     background-color: #05184c;
     border-radius: 10px;
 }
 .s{
     color: rgb(248, 0, 0);
 }
   